@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;700&display=swap");

:root {
  --bg-color: rgb(22, 25, 31);
  --nav-color: rgb(15, 17, 22);
  --black-accent: rgb(30, 30, 30);
  --white-accent: rgb(200, 200, 200);
  --orange-accent: rgb(241, 137, 5);
  --purple-accent: rgb(100, 100, 255);
}

body {
  font-family: "Jost", sans-serif;
  background-color: var(--bg-color);
  color: var(--white-accent);
}
