.sidebar {
  height: 100%;
  width: 12rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 40vh;
  padding-left: 1rem;
  font-family: "Mulish", Arial, sans-serif;
  a {
    // padding: 6px 8px 6px 16px;
    display: block;
    border-radius: 1rem 0 0 1rem;
    filter: drop-shadow(0 0 0.4rem rgb(0, 0, 0));
  }
}
